.App {
  text-align: center;
}

.App-boxes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.App-box {
  margin: 5px;
  padding: 5px;
  width: 100px;
  height: 100px;
  background-color: aquamarine;
  border: black solid 1px;
}