.container {
    margin: 5px;
    padding: 5px;
    background-color: aquamarine;
    border: black solid 1px;
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
}

@media (max-width: 600px) {
    .container {
        background-color: indianred;
    }
}

.top {
    display: flex;
}

.image {
    background-color: cornflowerblue;
    width: 100px;
    height: 100px;
}

.name {
    font-weight: bold;
    align-self: center;
    margin: 0 auto;
    font-size: 32px;
}