.container {
    background-color: #462F30;
    color: #FEFEFE;
    font-size: 56px;
    font-weight: bolder;
    font-family: Tahoma, serif;
    border-radius: 0 0 45px 45px;
}

.image {
    width: 200px;
    height: 200px;
}